.background7 {
    overflow: hidden;
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min+floor($rand*(($max - $min )+1));
    @return $random_range;
}

// .starshadow {
//     filter: drop-shadow(0 0 10px #fff);

// }

.star {
    $total: 60;
    position: absolute;
    width: 10px;
    height: 10px;
    margin: auto;
    background-image: radial-gradient(yellow, white 50%);
    clip-path: polygon(50% 0%, 56.25% 37.5%, 75% 25%, 62.5% 43.75%, 100% 50%, 62.5% 56.25%, 75% 75%, 56.25% 62.5%, 50% 100%, 43.75% 62.5%, 25% 75%, 37.5% 56.25%, 0% 50%, 37.5% 43.75%, 25% 25%, 43.75% 37.5%);
    filter: drop-shadow(0 0 10px #fff);


    @for $i from 1 through $total {
        $random-x: random(1000000)*0.0001vw;
        $random-start: random_range(0, 150)*0.35vh;

        $random-yoyo-time: random_range(30000, 80000)/100000;

        $random-scale: random(17000)*0.0001;
        $fall-duration: random_range(1, 10)*1s;
        $opacity-change: random(5000)*0.001;

        &:nth-child(#{$i}) {
            opacity: random(10000)*0.001;
            transform: translate($random-x, $random-start) scale($random-scale);
            animation: star-#{$i} $fall-duration linear infinite;
        }

        @keyframes star-#{$i} {
            #{percentage($random-yoyo-time)} {
                opacity: 0;
            }
        }
    }
}