.background4 {
    overflow: hidden;
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min+floor($rand*(($max - $min )+1));
    @return $random_range;
}


.rain6 {
    $total: 310;
    position: absolute;
    width: 1px;
    height: 80px;
    background: lightblue;
    background-size: cover;
    filter: drop-shadow(0 0 5px rgb(209, 241, 252));



    @for $i from 1 through $total {
        $random-x: random(1000000)*0.0001vw;
        $random-offset: random_range(-100000, 100000)*0.0001vw;
        // $random-x-end: $random-x +$random-offset;
        // $random-x-end-yoyo: $random-x +($random-offset / 2);

        // $random-yoyo-time: random_range(30000, 80000) / 100000;
        // $random-yoyo-y: $random-yoyo-time*100vh;

        $random-scale: random(10)*0.001;
        $fall-duration: random(1)*1s;
        $fall-delay: random(50)*0.1s;

        &:nth-child(#{$i}) {
            opacity: random(10000)*0.0001;
            transform: translate($random-x, -120px) scale($random-scale);
            animation: rain6-#{$i} $fall-duration linear $fall-delay infinite;
        }

        @keyframes rain6-#{$i} {
            // 50% {
            //     transform: translate($random-x-end);
            // }

            to {
                transform: translate($random-x, 100vh);
            }
        }
    }
}